* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    background-color: #121216;
    font-family: monospace;
    color: white;
}

body {
    margin-left: 3em;
    margin-right: 3em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#main-title {
    margin-top: 2em;
    margin-bottom: 2em;

    text-align: center;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    animation: appear;
    animation-duration: 0.5s;
}

#main-title h1 {
    font-size: 3em;
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    display: flex;
    flex-direction: column;

    gap: 1.5em;
}

.group {
    border: solid white 1px;
    border-radius: 2em;

    padding: 2em;

    animation: appear;
    animation-duration: 0.5s;
}

.group .title {
    font-size: 2em;
}

.group .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.host-list {
    display: flex;
    flex-direction: row;

    gap: 1em;
}

.host {
    border: solid white 0.8px;
    border-radius: 1.5em;

    padding: 1em;

    display: flex;
    flex-direction: column;
}

.host .title {
    font-size: 1.5em;

    padding: 1em;
    text-align: center;
}

.footer {
    padding: 1em;

    text-align: center;

    flex-shrink: 0;
}

.footer a {
    color: #8AD88D;
}

.btn-wake {
    background-color: #8AD88D;
    color: #121216;
    font-size: 1.5em;

    border: 1px solid;
    border-radius: 0.5em;

    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    cursor: pointer;
}

.btn-wake:hover {
    background-color: #78be7b;
}

.btn-wake:active {
    background-color: #629c65;
}


.center {
    flex-grow: 1;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.login {
    border: white solid 1px;
    border-radius: 15px;
    padding: 1em;
    animation: appear;
    animation-duration: 0.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.login .title {
    margin: 0.2em;

    font-size: 2.2em;
}

.login input[type=password] {
    font-size: 2em;

    color: white;
    background-color: #121216;

    border: white solid 1px;
    border-radius: 10px;

    padding: 0.5em;
}

.login input[type=password]:focus {
    outline: none;
    border: #8AD88D solid 1px;

}

.login input[type=submit] {
    font-size: 2em;

    color: 121216;
    background-color: white;

    border: white solid 1px;
    border-radius: 10px;

    padding: 0.5em;
}

.login input[type=submit]:hover {
    background-color: rgb(219, 219, 219);
}

.login input[type=submit]:focus {
    background-color: rgb(140, 140, 140);
}

.error {
    flex-direction: column;
}

.error .code {
    color: #8AD88D;
    font-size: 4em;
}

.error .message {
    color: white;
    font-size: 2em;
}